<div class="user-details">
  <h2>About me</h2>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <p>
    In love with Yoga, I dedicate as much of my time as possible, practicing both physically and mentally. <br/>
    I’m currently studying for teaching Yoga and I’ll get my first certification as a Yoga teacher on December 2021.<br/>
    Currently one of the lead organizers and speaker for the GDG Milan community.<br/>
    Focused on mobile development, I’m enthusiast about Virtual and Augmented Reality and about everything that enhances the human interaction with the world through technology.<br/>
    Other than that, I enjoy watching TV shows, playing video games and board games, traveling and cooking.
  </p>
</div>
