<div class="user-details">
  <h2>About me</h2>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <p>
    I'm a software engineer and also a registered Yoga teacher.<br/>
    Currently dedicating passion to Specialty Coffee and Gin (not in an alcoholic way!)<br/>
    Former lead organizer and speaker for the GDG Milan community.<br/>
    Born with a focus on mobile, my focus is now on finding ways to automate as much as possible the digital tasks of everyday life so that people get more out of their free time.<br/>
    Other than that, I enjoy watching TV shows, playing video games and board games, traveling and cooking.
  </p>
</div>
