<div class="user-details">
  <h2>About me</h2>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <p>In love with Yoga, I dedicate as much of my time as possible, practicing both physically and mentally.<br /><br />
    Currently one of the lead organisers and speaker for the GDG Milan community.<br /><br />
    Primarily focused on mobile development in my
    work and spare time, I’m enthusiast about Virtual and Augmented Reality and about everything that enhances the human
    interaction with the world through technology.<br /><br />
    Other than that, I enjoy watching TV shows, playing video games and board games, travelling and cooking.</p>
</div>