<div class="user-details">
    <h2>Experience</h2>
    <p>The road so far...</p>
</div>
<div class="experience">
    <h1>Flutter Developer</h1>
    <h2>@Crispy Bacon Srl</h2>
    <h3>March 2019 - present</h3>
    <p>Currently member of a 2 people team of Flutter developers working on the Widiba banking app, leading the tech
        aspects of the project. Working strictly side by side with the designers, my job is to mix clean coding with
        development of high customised Widgets and business logic structures in order to meet edge design demands while
        keeping a maintainable, future proof codebase which satisfies the functional demands. Brought the app in
        production on March 2020, after starting and leading the project from scratch.</p>
</div>

<div class="experience">
    <h1>Android Developer and Full Stack Developer</h1>
    <h2>@Ubiquicom Srl</h2>
    <h3>November 2017 - March 2019</h3>
    <p>I’ve worked on the TrackVision project, which sees involved a cloud-connected multitude of devices used for 360°
        diagnostic of industrial vehicles.
        As an Android developer I’ve worked on a companion app for spatial calibrations using the Android fused sensors.
        As a full-stack dev, my job is to maintain, improve and enhance the TrackVision Web Application, which is used
        by the customers to access data and configurations.</p>
</div>