<div class="user-details">
    <h2>Experience</h2>
    <p>The road so far...</p>
</div>
<div class="experiences">
    <div class="experience">
        <h1>Flutter Developer</h1>
        <h2>@Crispy Bacon Srl</h2>
        <h3>March 2019 - Current</h3>
        <hr>
        <h4>A2A Toolbox App</h4>
        <p>
            One man team for the mobile front end of the A2A CityEye platform, which allows to perform queries on the data gathered by iot sensors placed all around the territory.
            <br>The app is provided as a tool for installation personnel, allowing to perform installations, substitutions, replacements and other operations in an easy way through the app.
           <br>Website: <a href="https://www.cityeye.it/">https://www.cityeye.it/</a>
        </p>
        <hr>
        <h4>TooA app</h4>
        <p>
            One of a 4 developers team, I've mentored junior devs about Flutter and actively participating to the development of an app which interacts via bluetooth with a domestic machine (purpose is now private) and allows the customer 
            to purchase products from an eCommerce platform (Salesforce) and browse through contents offered by a CMS (strapi).
        </p>
        <div class="app-badges">
                <a
                    href='https://play.google.com/store/apps/details?id=com.u705.artista_app'>
                    {% include widgets/_google-play-badge.html %}
                </a>
                <a class=' app-badge' href=" https://apps.apple.com/it/app/tooa/id1555217905"
                        style="background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-08-17&kind=iossoftware&bubble=ios_apps) no-repeat;"></a>
            </div>
        <hr>
        <h4>Widiba Banking App </h4>
        <p>Member of a 2 people team of Flutter developers working on the Widiba banking app, leading the tech
            aspects of the project. Working strictly side by side with the designers, my job is to mix clean coding with
            development of high customised Widgets and business logic structures in order to meet edge design demands
            while
            keeping a maintainable, future proof codebase which satisfies the functional demands. Brought the app in
            production on March 2020, after starting and leading the project from scratch.</p>
        <hr>
    </div>

    <div class="experience">
        <h1>Android Developer and Full Stack Developer</h1>
        <h2>@Ubiquicom Srl</h2>
        <h3>November 2017 - March 2019</h3>
        <p>I’ve worked on the TrackVision project, which sees involved a cloud-connected multitude of devices used for
            360°
            diagnostic of industrial vehicles.
            As an Android developer I’ve worked on a companion app for spatial calibrations using the Android fused
            sensors.
            As a full-stack dev, my job is to maintain, improve and enhance the TrackVision Web Application, which is
            used
            by the customers to access data and configurations.</p>
    </div>
</div>
