<div class="user-details">
    <h2>Works</h2>
    <p>Products and experiments</p>
</div>

<div class="works">
    <div class="work">
        <h1>Yogamilan App</h1>
        <div class="content">
            <p class="work-description">Freelance work carried out in parallel with my full time job which involved the
                development of an
                application
                for the Yoga studio I currently practice to. The app allows the user to check notifications, Facebook
                feed from the studio, see available lessons and manage their bookings.
                Developed with Flutter, the app is available in both Play Store and App Store, under the publisher
                “Tobabo Srl” who provided me the deployment certificates.</p>
            <div class="app-badges">
                <a
                    href='https://play.google.com/store/apps/details?id=it.tobabo.yogamilan&hl=it&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    {% include widgets/_google-play-badge.html %}
                </a>
                <a class=' app-badge' href=" https://apps.apple.com/it/app/yogamilan/id1475641719?mt=8"
                        style="background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-08-17&kind=iossoftware&bubble=ios_apps) no-repeat;"></a>
            </div>

        </div>
    </div>
</div>
<p>
    And many smaller ones...
</p>