<div class="user-details">
    <h2>Works</h2>
    <p>Products and experiments</p>
</div>

<div class="works">
    <div class="work">
        <h1>Yogamilan App</h1>
        <div class="content">
            <p class="work-description">
                <b> The app is not mantained by me anymore</b><br/><br/>
                Freelance work carried out in parallel with my full time job which involved the development of an application
                for the Yoga studio I currently practice to. The app allows the user to check notifications, Facebook
                feed from the studio, see available lessons and manage their bookings.
                Developed with Flutter, the app is available in both Play Store and App Store, under the publisher
                “Tobabo Srl” who provided me the deployment certificates.</p>
        </div>
    </div>
</div>
<p>
    And many smaller ones...
</p>