<div class="user-details">
    <h2>Skills</h2>
    <p>A Flutter lover with an Android heart.</p>
</div>
<div class="user">
    <p>My main area of interest is mobile development. <br />
        In my experience I had the opportunity to work
        with other areas too, ranging from front end to backend, passing by computer graphics, IoT and AR/VR.
    </p>
</div>
<div class="user">
    <div class="tech">
        <h2>Languages</h2>
        <div class="skills-container">
            <div class="bar dart-blue value-90" data-skill="Dart"></div>
            <div class="bar jonquil value-70" data-skill="C#"></div>
            <div class="bar jonquil value-60" data-skill="Kotlin"></div>
            <div class="bar jonquil value-60" data-skill="Java"></div>
            <div class="bar jonquil value-50" data-skill="Javascript"></div>
            <div class="bar jonquil value-30" data-skill="C++"></div>
            <div class="bar jonquil value-40" data-skill="Python"></div>
            <div class="bar jonquil value-40" data-skill="Bash"></div>
        </div>
    </div>
    <div class="tech">
        <h2>Technologies</h2>
        <div class="skills-container">
            <div class="bar flutter-blue value-90" data-skill="Flutter"></div>
            <div class="bar android-green value-70" data-skill="Android"></div>
            <div class="bar teal value-30" data-skill="Arduino"></div>
            <div class="bar teal value-30" data-skill="OpenGL/WebGL"></div>
            <div class="bar teal value-30" data-skill="OpenCV"></div>
            <div class="bar teal value-30" data-skill="ARCore"></div>
        </div>
    </div>
    <div class="tech">
        <h2>Tools</h2>
        <div class="skills-container">
            <div class="bar orange-red value-70" data-skill="Git"></div>
            <div class="bar orange-red value-40" data-skill="Shell"></div>
            <div class="bar orange-red value-20" data-skill="Docker"></div>
            <div class="bar orange-red value-20" data-skill="Travis"></div>
        </div>
    </div>
</div>