<div class="user-details">
    <h2>Skills</h2>
    <p><s>A Flutter lover with an Android heart.</s></p>
    <p>An ex Flutter pioneer who now wizards web scraping</p>
</div>
<div class="user-subtitle">
    <p>
        Born a mobile developer, I'm now specialized in hacking the web to make automations possible. <br />
        Experience ranges from Web Scraping to LLMs, passing by Flutter and React, and backend is thrown to the mix <br />
        My motto is: if it works, why not automate it?
    </p>
</div>
<div class="user">
    <div class="tech">
        <h2>Languages</h2>
        <div class="skills-container">
            <div class="bar dart-blue value-90" data-skill="Typescript/Javascript"></div>
            <div class="bar dart-blue value-70" data-skill="Dart"></div>
            <div class="bar jonquil value-60" data-skill="Python"></div>
            <div class="bar jonquil value-50" data-skill="Kotlin"></div>
            <div class="bar jonquil value-40" data-skill="Bash"></div>
        </div>
    </div>
    <div class="tech">
        <h2>Technologies</h2>
        <div class="skills-container">
            <div class="bar flutter-blue value-90" data-skill="Web Scraping"></div>
            <div class="bar flutter-blue value-80" data-skill="LLMs"></div>
            <div class="bar flutter-blue value-70" data-skill="Flutter"></div>
            <div class="bar flutter-blue value-60" data-skill="React"></div>
            <div class="bar flutter-blue value-60" data-skill="Express"></div>
        </div>
    </div>
    <div class="tech">
        <h2>Tools</h2>
        <div class="skills-container">
            <div class="bar orange-red value-90" data-skill="Git"></div>
            <div class="bar orange-red value-50" data-skill="Shell"></div>
            <div class="bar orange-red value-40" data-skill="Docker"></div>
        </div>
    </div>
</div>
