.work{
    text-align: start;
    font-size: 60px;

    h1,h2,h3{
      margin-top: 0rem;
      padding-top: 0rem;
    }
    h1{
        font-size: 2.0rem;
        font-weight: 500;
        margin-bottom: 5px;
    }
    h2{
        font-size: 1.5rem;
        font-weight: 400;   
    }
    h3{
        font-size: 1.0rem;
        font-weight: 300;
    }
    p {
      font-size: 16px;
    }
    @media only screen and (min-width: $cut) {
      flex-wrap: nowrap;
      font-size: 75px;
    }

    .content{
        .app-badges{
            a{
                text-decoration: none;
            }
            text-align: center;
        }
    }

    
}

.app-badge{
    display:inline-block;
    overflow:hidden;
    height: 40px;
    width: 135px;
}
