.bar.android::before{
    content: 'Android';
    background-color: blue;
}

.bar.dart::before{
    content: 'Dart';
  background-color: blue;
}
.bar.flutter::before{
    content: 'Flutter';
  background-color: blue;
}

.bar.raspi::before{
    content: 'Raspi';
    background-color: green;
}

.bar.arduino::before{
    content: 'Arduino';
  background-color: green;
}

.bar.git::before{
    content: 'Git';
  background-color: green;
}

.bar.bash::before{
    content: 'Bash';
  background-color: green;
}

.bar.java::before{
    content: 'Java';
  background-color: green;
}

.bar.javascript::before{
    content: 'Javascript';
  background-color: green;
}

.bar.cpp::before{
    content: 'C++';
  background-color: green;
}

.bar.python::before{
    content: 'Python';
  background-color: green;
}

.bar.opengl::before{
    content: 'Opengl';
  background-color: green;
}