<div class="header-icons">
    <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
    <a aria-label="My Instagram" target="_blank" href="{{ site.instagram_url }}"><i class="icon fa fa-instagram"
            aria-hidden="true"></i></a>
    <a aria-label="My Facebook" target="_blank" href="{{ site.facebook_url }}"><i class="icon fa fa-facebook"
            aria-hidden="true"></i></a>
    <a aria-label="My LinkedIn" target="_blank" href="{{ site.linkedin_url }}"><i class="icon fa fa-linkedin-square"
            aria-hidden="true"></i></a>
    <a aria-label="My Github" target="_blank" href="{{ site.github_url }}"><i class="icon fa fa-github-alt"
            aria-hidden="true"></i></a>
    <a aria-label="My StackOverflow" target="_blank" href="{{ site.stack_overflow_url }}"><i
            class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>
    <a aria-label="My Medium" target="_blank" href="{{ site.medium_url }}"><i class="icon fa fa-medium"
            aria-hidden="true"></i></a>
</div>